$_fontColor: #70757a;
$_fontFamily: 'Roboto', sans-serif;

$_bordersColor: #dadce0;
$_boxShadow: 0 0 10px rgba(0, 0, 0, 0.5);

$_mobileSizeLimit: 360px;
$_tableSizeLimit: 640px;
$_desktopSizeLimit: 960px;


$_headerZindex: 2;
$_menuListZindex: 1;