$_fontColor: #70757a;
$_fontFamily: 'Roboto', sans-serif;

$_bordersColor: #dadce0;
$_boxShadow: 0 0 10px rgba(0, 0, 0, 0.5);

$mobileSizeLimit: 360px;
$tableSizeLimit: 760px;
$desktopSizeLimit: 1250px;