.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #ffb000;
    cursor: pointer;
    padding: 5px 10px 5px 35px;
    position: relative;
    text-decoration: none;

    &:hover {
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);;
    }
}

.cart-image {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 5px;
}

.cart-text {
    color: #ffffff;
    font-family: $_fontFamily;
}