.button {
    background-color: #ffffff;
    border: 1px solid $_bordersColor;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);;
    }

    .some {

    }
}

.button--success {
    background-color: rgba(41, 152, 64, 1);
    color: #ffffff;
}

.button--alert {
    background-color: rgba(218, 29, 29, 1);
    color: #ffffff;
}

.button--submit {
    background-color: rgba(255, 176, 0, 1);
    color: #ffffff;
}

.some123 {

}
