.wrapper {
    box-shadow: 0 -2px 52px 1px rgba(148, 145, 148, 0.68);
    background-color: #ffffff;
    padding: 5px 5px;
    z-index: $_headerZindex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.phone {
    text-decoration: none;
    background-color: #ffb000;
    padding: 10px 15px;
    border-radius: 5px;
    color: #ffffff;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-family: $_fontFamily;
}

.phone-image {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.menu-list-wrapper {
    display: flex;
    top: 60px;
    list-style: none;
    z-index: $_menuListZindex;
    right: -500px;
    transition: right 0.4s linear;
    background-color: #ffffff;
    position: absolute;
    max-width: 400px;
    min-width: $_mobileSizeLimit;
    padding: 10px;
    flex-direction: column;
    box-shadow: 2px 0 1px 0 rgba(148, 145, 148, 0.68);
}

.menu-list-wrapper--opened {
    right: 0;
}

.menu-list {
    flex-direction: column;
    display: flex;
    margin: 0;
    padding: 10px;
}

.menu-item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.menu-item-link {
    text-decoration: none;
    color: #0860a3;
    font-family: $_fontFamily;
    font-weight: bold;
}

.menu-item-image {
    margin-right: 15px;
    width: 30px;
    height: 30px;
}

.menu-toggle-button {
    width: 30px;
    height: 30px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    outline: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 25px 25px;
}

.cart {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
    padding: 10px 15px;
}

.delimiter {
    display: block;
    height: 1px;
    width: calc(100% - 10px);
    background-color: #000000;
    margin-bottom: 10px;
}

.buttons-wrapper {
    display: flex;
}

.sign-in-item {
    margin-right: 15px;
}

@media screen and (min-width: $_desktopSizeLimit) {
    .wrapper {
        display: flex;
    }

    .menu-toggle-button,
    .phone {
        display: none;
    }

    .menu-list-wrapper {
        position: unset;
        width: auto;
        border-bottom: none;
        margin: 0 0 0 20px;
        align-items: center;
        flex-grow: 1;
        flex-direction: row;
        box-shadow: none;
        max-width: initial;
        min-width: initial;
    }

    .menu-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        flex-grow: 1;
    }

    .menu-item {
        margin-right: 15px;
        margin-bottom: 0;
    }

    .cart {
        position: relative;
        width: fit-content;
        padding-left: 40px;
        border-radius: 5px;
        flex-shrink: 0;
    }

    .delimiter {
        display: none;
    }

    .sign-in-item {
        justify-self: flex-end;
        flex-shrink: 0;
    }

    .buttons-wrapper {
        margin-right: 15px;
    }
}